body {
    background-color: #f1f1f1;
}

ul {
    list-style: square;
    line-height: 30px;
}

a {
    color:#0ba7c6;
    text-decoration: none;
    padding: 20px;
}

th, td {
    padding: 10px;
}

footer {
    text-align: center;    
<<<<<<< HEAD
}

input[type="text"]{
    width: 230px;
=======
>>>>>>> ff7413f4cc559fc882bd556d8ba348b8d4799cb6
}