<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

    <h1>Bem vindo a videos!</h1>
    <hr>
    <h3>escolha um video para continuar!</h3>

<%- include ('partials/footer.ejs')%>